<!--
 Copyright (c) 2025 Bikathi Martin
 
 This software is released under the MIT License.
 https://opensource.org/licenses/MIT
-->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Minify - Simple URL Shortenner</title>
    <link href="output.css" rel="stylesheet">
  </head>
  <body>
    <header>
        {{>navbar }}
    </header>
    <main>
      {{{body}}}
    </main>
    {{>footer}}
  </body>
</html>
