<!--
 Copyright (c) 2025 Bikathi Martin
 
 This software is released under the MIT License.
 https://opensource.org/licenses/MIT
-->
<main>
  <h1 class="text-red-500">My main body!</h1>
  {{ message }}
</main>